---
import { getCollection } from "astro:content";
import Button from "../../components/Button.astro"
import laptop from '../../images/laptop.svg';
import Hero from "../../components/Hero.astro";
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';

import type { GetStaticPaths } from "astro";
//get the collection and paginate
export const getStaticPaths = (async ({ paginate }) => {
  const blogEntries = await getCollection('blog');
  return paginate(blogEntries, {pageSize: 3})
}) satisfies GetStaticPaths

const { page } = Astro.props;
---
<Layout title="Debug the Mind | Journals">
	<div class="container">
		<main>
			<Hero title="~$ ls -al" body="...is where you (re)code it..." hasImage={true} image={laptop} />
			<hr>
			<div class="section-wrapper-2">
				<section class="blog-section">
					{page.data.map((post:any) =>  (
						<Card title={post.data.title} body={post.data.excerpt} author={post.data.author} date={post.data.publishDate.toDateString()} href={`/blog/${post.slug}`}/>
						)
					)}
				</section>
			</div>
			<nav>
				{page.url.prev && <Button title="Previous" href={page.url.prev}/>} {page.url.next && <Button title="Next" href={page.url.next}/>}
			</nav>
		</main>
	</div>
</Layout>


<style lang='scss'>

.blog-section {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	margin: 32px;
	gap: 24px;
	margin-bottom: 64px;

}


nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;

}
section {
	margin-top: 24px;
}
@media (max-width: 768px) {
        .blog-section {
            grid-template-columns: auto;
        }
	}

</style>