---
import Button from "../components/Button.astro"
import { getCollection, getEntry, getEntryBySlug } from "astro:content";
const blogPosts = await getCollection('blog')
import laptop from '../images/laptop.svg';
import Hero from "../components/Hero.astro";
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

// import underConstruction from '../images/underConstruction.jpg'
---

<Layout title="code & y Blog">
	<div class="container">
		<main>
			<Hero title="Blog" body="...is where you (re)code it..." hasImage={true} image={laptop} />
			<hr>
			<section class="blog-section">
				<!-- <img src={underConstruction.src} alt="under construction" /> -->
				{blogPosts.map(post =>  (
						<Card title={post.data.title} body={post.data.excerpt} author={post.data.author} href={`/blog/${post.slug}`}/>
						)
					)}
			</section>
			<Button title="Next Page"/>
		</main>
	</div>

	<script>
		import '../scripts/hamburger.js'
	</script>
</Layout>

<style>

main {
	padding: auto;
	margin: 0 10%;
	width: 75%;
	/* font-size: large; */
	/* font-weight: 0; */
	line-height: 2em;	
}

.blog-section {
	display: flex;
	/* align-items: self-start; */
	justify-content: space-between;
	gap: 24px;
	margin-bottom: 64px;

}
 a:visited {
	text-decoration: none;
 }
img {
	margin: auto;
	padding-top: 1rem;
	padding-bottom: 1rem;
	display: block;
  	max-width: auto;
  	max-height:auto;
  	width: 80%;
  	/* height: auto; */
}
section {
	margin-bottom: 64px;
	margin-top: 24px;
}
@media (max-width: 768px) {
        .blog-section {
            flex-direction: column;
        }
	}


</style>
